<div class="header" p-nav="h largest">
    <h1 p-nav-title><a href="/">Instub</a></h1>

    <form p-nav-item="center" action="/search/">
        <input type="text" />
        <button p-button="search" type="submit">SEARCH</button>
    </form>

    <div p-nav-item="right">
        <a href="#" p-button>Login</a>
        <!--
        <a href="###">zmmbreeze</a>
        -->
    </div>
</div>
<div class="header-menu header-nav" p-tip="bottom">
    <ul p-menu="v large" id="listMenu">
        <li><a href="###">Popular Users</a></li>
        <li><a href="###">Models</a></li>
        <li p-nav-item="current"><a href="###">Art</a></li>
        <li><a href="###">Pets</a></li>
        <li><a href="###">Food</a></li>
    </ul>
</div>

<div class="header-menu header-info" p-tip="bottom">
    <ul p-menu="v large" id="infoMenu">
        <li><a href="###">logout</a></li>
    </ul>
</div>

