<div class="info">
    <a class="info-pic" href="/profile/808655470/">
        <img width="50" height="50" src="assets/p1.jpeg" alt="&amp;may  with mami" />
    </a>
    <h1><a href="/profile/808655470/">ashmiemu</a></h1>
    <div class="info-txt"><a href="###">Following 261</a> <a href="###">Follower 45523</a></div>
    <div class="info-desc">这里是我的简介，这里是我的简介。这里是我的简介。这里是我的简介。
我的照片都用iphone拍滴。</div>
</div>

