<ul p-menu="h largest center">
    <li><a href="http://www.instub.com/category/explorer/?page=1">1</a></li>
    <li><a href="http://www.instub.com/category/explorer/?page=2">2</a></li>
    <li><a href="http://www.instub.com/category/explorer/?page=3">3</a></li>
    <li>...</li>
    <li><a href="http://www.instub.com/category/explorer/?page=3014">3014</a></li>
</ul>

