<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="initial-scale=1, user-scalable=no, width=device-width, minimal-ui">
    <link rel="stylesheet" href="css/g.css">
</head>
<body id="page-profile">
    {{> header}}

    <div class="main">
        {{> user_profile}}
        {{> people}}
    </div>
</div>

{{> footer}}
</body>
</html>

