<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="initial-scale=1, user-scalable=no, width=device-width, minimal-ui">
    <link rel="stylesheet" href="css/g.css">
</head>
<body id="page-index">
    {{> header}}

    <div class="main">
        <h2>Instub, enjoy beautiful Instagram photos in one place.</h2>
        <div class="items">
            <div class="item">
                <h2><a href="">Models</a></h2>
                <img src="assets/p1.jpeg" alt="">
                <img src="assets/p2.jpeg" alt="">
                <img src="assets/p3.jpeg" alt="">
                <img src="assets/p4.jpeg" alt="">
                <img src="assets/p5.jpeg" alt="">
            </div>

            <div class="item">
                <h2><a href="">Art</a></h2>
                <img src="assets/p6.jpeg" alt="">
                <img src="assets/p7.jpeg" alt="">
                <img src="assets/p8.jpeg" alt="">
                <img src="assets/p9.jpeg" alt="">
                <img src="assets/p10.jpg" alt="">
            </div>

            <div class="item">
                <h2><a href="">Pets</a></h2>
                <img src="assets/p1.jpeg" alt="">
                <img src="assets/p2.jpeg" alt="">
                <img src="assets/p3.jpeg" alt="">
                <img src="assets/p4.jpeg" alt="">
                <img src="assets/p5.jpeg" alt="">
            </div>

            <div class="item">
                <h2><a href="">Food</a></h2>
                <img src="assets/p6.jpeg" alt="">
                <img src="assets/p7.jpeg" alt="">
                <img src="assets/p8.jpeg" alt="">
                <img src="assets/p9.jpeg" alt="">
                <img src="assets/p10.jpg" alt="">
            </div>
        </div>
    </div>

    {{> footer}}
</body>
</html>
