<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/g.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body id="page-list">
    {{> header}}

    <div class="main">
        <div class="photos" id="photoList">
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p1.jpeg" alt="" />
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/a1.jpeg" alt="_lilysan_" width="32" height="32" />
                    _lilysan_
                </a>
                <span class="photo-info">
                    刚刚&nbsp;
                    <a href="javascript:void(0);" class="jsLove3" data-mid="889725561864611186_1530240408"></a>
                </span>
            </div>
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p2.jpeg" alt="" />
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/a1.jpeg" alt="_lilysan_" width="32" height="32" />
                    _lilysan_
                </a>
                <span class="photo-info">
                    刚刚&nbsp;
                    <a href="javascript:void(0);" class="jsLove3" data-mid="889725561864611186_1530240408"></a>
                </span>
            </div>
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p3.jpeg" alt="" />
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/a1.jpeg" alt="_lilysan_" width="32" height="32" />
                    _lilysan_
                </a>
                <span class="photo-info">
                    刚刚&nbsp;
                    <a href="javascript:void(0);" class="jsLove3" data-mid="889725561864611186_1530240408"></a>
                </span>
            </div>
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p4.jpeg" alt="" />
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/a1.jpeg" alt="_lilysan_" width="32" height="32" />
                    _lilysan_
                </a>
                <span class="photo-info">
                    刚刚&nbsp;
                    <a href="javascript:void(0);" class="jsLove3" data-mid="889725561864611186_1530240408"></a>
                </span>
            </div>
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p5.jpeg" alt="" />
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/a1.jpeg" alt="_lilysan_" width="32" height="32" />
                    _lilysan_
                </a>
                <span class="photo-info">
                    刚刚&nbsp;
                    <a href="javascript:void(0);" class="jsLove3" data-mid="889725561864611186_1530240408"></a>
                </span>
            </div>
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p6.jpeg" alt="" />
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/a1.jpeg" alt="_lilysan_" width="32" height="32" />
                    _lilysan_
                </a>
                <span class="photo-info">
                    刚刚&nbsp;
                    <a href="javascript:void(0);" class="jsLove3" data-mid="889725561864611186_1530240408"></a>
                </span>
            </div>
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p7.jpeg" alt="" />
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/a1.jpeg" alt="_lilysan_" width="32" height="32" />
                    _lilysan_
                </a>
                <span class="photo-info">
                    刚刚&nbsp;
                    <a href="javascript:void(0);" class="jsLove3" data-mid="889725561864611186_1530240408"></a>
                </span>
            </div>
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p8.jpeg" alt="" />
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/a1.jpeg" alt="_lilysan_" width="32" height="32" />
                    _lilysan_
                </a>
                <span class="photo-info">
                    刚刚&nbsp;
                    <a href="javascript:void(0);" class="jsLove3" data-mid="889725561864611186_1530240408"></a>
                </span>
            </div>
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p9.jpeg" alt="" />
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/a1.jpeg" alt="_lilysan_" width="32" height="32" />
                    _lilysan_
                </a>
                <span class="photo-info">
                    刚刚&nbsp;
                    <a href="javascript:void(0);" class="jsLove3" data-mid="889725561864611186_1530240408"></a>
                </span>
            </div>
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p10.jpg" alt="" />
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/a1.jpeg" alt="_lilysan_" width="32" height="32" />
                    _lilysan_
                </a>
                <span class="photo-info">
                    刚刚&nbsp;
                    <a href="javascript:void(0);" class="jsLove3" data-mid="889725561864611186_1530240408"></a>
                </span>
            </div>
        </div>
    </div>

    {{> footer}}
</body>
</html>

