<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="initial-scale=1, user-scalable=no, width=device-width, minimal-ui">
    <link rel="stylesheet" href="css/g.css">
</head>
<body id="page-list">
    {{> header}}

    <div class="main">
        <h2>Models</h2>
        <div class="photos">
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p1.jpeg" alt="">
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/p1.jpeg" alt="ladzinski" width="32" height="32">
                    ladzinski
                </a>
                <span class="photo-info">
                  刚刚
                  <a href="javascript:void(0);" class="jsLove3" data-mid="1"></a>
                </span>
            </div>
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p2.jpeg" alt="">
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/p1.jpeg" alt="ladzinski" width="32" height="32">
                    ladzinski
                </a>
                <span class="photo-info">
                  刚刚
                  <a href="javascript:void(0);" class="jsLove3" data-mid="1"></a>
                </span>
            </div>
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p3.jpeg" alt="">
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/p1.jpeg" alt="ladzinski" width="32" height="32">
                    ladzinski
                </a>
                <span class="photo-info">
                  刚刚
                  <a href="javascript:void(0);" class="jsLove3" data-mid="1"></a>
                </span>
            </div>
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p4.jpeg" alt="">
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/p1.jpeg" alt="ladzinski" width="32" height="32">
                    ladzinski
                </a>
                <span class="photo-info">
                  刚刚
                  <a href="javascript:void(0);" class="jsLove3" data-mid="1"></a>
                </span>
            </div>
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p5.jpeg" alt="">
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/p1.jpeg" alt="ladzinski" width="32" height="32">
                    ladzinski
                </a>
                <span class="photo-info">
                  刚刚
                  <a href="javascript:void(0);" class="jsLove3" data-mid="1"></a>
                </span>
            </div>
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p6.jpeg" alt="">
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/p1.jpeg" alt="ladzinski" width="32" height="32">
                    ladzinski
                </a>
                <span class="photo-info">
                  刚刚
                  <a href="javascript:void(0);" class="jsLove3" data-mid="1"></a>
                </span>
            </div>
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p7.jpeg" alt="">
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/p1.jpeg" alt="ladzinski" width="32" height="32">
                    ladzinski
                </a>
                <span class="photo-info">
                  刚刚
                  <a href="javascript:void(0);" class="jsLove3" data-mid="1"></a>
                </span>
            </div>
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p8.jpeg" alt="">
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/p1.jpeg" alt="ladzinski" width="32" height="32">
                    ladzinski
                </a>
                <span class="photo-info">
                  刚刚
                  <a href="javascript:void(0);" class="jsLove3" data-mid="1"></a>
                </span>
            </div>
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p9.jpeg" alt="">
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/p1.jpeg" alt="ladzinski" width="32" height="32">
                    ladzinski
                </a>
                <span class="photo-info">
                  刚刚
                  <a href="javascript:void(0);" class="jsLove3" data-mid="1"></a>
                </span>
            </div>
            <div class="photo">
                <a href="###" class="photo-pic">
                    <img src="assets/p10.jpg" alt="">
                </a>
                <a href="###" class="photo-author">
                    <img src="assets/p1.jpeg" alt="ladzinski" width="32" height="32">
                    ladzinski
                </a>
                <span class="photo-info">
                  刚刚
                  <a href="javascript:void(0);" class="jsLove3" data-mid="1"></a>
                </span>
            </div>
        </div>
        <ul p-menu="h largest center">
            <li><a href="http://www.instub.com/category/explorer/?page=1">1</a></li>
            <li><a href="http://www.instub.com/category/explorer/?page=2">2</a></li>
            <li><a href="http://www.instub.com/category/explorer/?page=3">3</a></li>
            <li>...</li>
            <li><a href="http://www.instub.com/category/explorer/?page=3014">3014</a></li>
        </ul>
    </div>

    {{> footer}}
</body>
</html>

