<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/g.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body id="page-media">
    {{> header}}

    <div class="main">
        <div class="media">
            <div class="media-l">
                <img src="assets/b1.jpeg" alt="">
            </div>
            <div class="media-r">
                <div class="media-info">
                    <p>
                        <span class="media-time">7天前</span>
                        <span class="media-place"></span>
                    </p>
                    <p class="media-desc">
                        I have a beauty mark on lip.
    .
    唇にほくろがあるよ
                    </p>
                    <p>
                        <a href="/tag/%E3%81%B5%E3%82%8F%E3%82%82%E3%81%93%E9%83%A8/" class="tag">#ふわもこ部</a>&nbsp;
                        <a href="/tag/%E3%81%AD%E3%81%93%E9%83%A8/" class="tag">#ねこ部</a>&nbsp;
                        <a href="/tag/neko/" class="tag">#neko</a>&nbsp;
                        <a href="/tag/%E7%8C%AB/" class="tag">#猫</a>&nbsp;
                        <a href="/tag/webstapick/" class="tag">#webstapick</a>&nbsp;
                        <a href="/tag/scottishfold/" class="tag">#scottishfold</a>&nbsp;
                    </p>
                </div>

                <div class="media-love">
                    <a href="javascript:void(0);" class="jsLove" data-action="like" data-num="4787" data-mid="885401646723980340_808655470">
                            <i class="icon-heart"></i><span>4787</span>
                    </a>
                    <p class="media-lovers">
                        <a href="/profile/44351880/">pamelaboubou</a>
                        <a href="/profile/1626137647/">ohellosuharti</a>
                        <a href="/profile/1424936269/">aorisora3</a>
                        <a href="/profile/1060734986/">elma_malia</a>
                        <a href="/profile/31485710/">jenblaze_</a>
                        等人赞过
                    </p>
                </div>

                <div class="comments">
                    <ul>
                        <li>
                            <a href="/profile/808655470/" title="ashmiemu" data-mid="885401646723980340_808655470" data-cid="886768747632090641">
                                <img src="https://instagramimages-a.akamaihd.net/profiles/profile_808655470_75sq_1393658969.jpg" alt="&amp;may  with mami">
                            </a>
                            <div class="comment">
                                <p>@riepoyonn つられて首が斜めにならなかった？😸お目々にママは…映ってそうで映ってニャイ✨</p>
                            </div>
                        </li>
                        <li>
                            <a href="/profile/416966984/" title="aliciaa_love" data-mid="885401646723980340_808655470" data-cid="886865806368399206">
                                <img src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-19/10802694_541621725982497_1649036243_a.jpg" alt="Alicia del Alcázar">
                            </a>
                            <div class="comment">
                                <p>Cuuuute *-*</p>
                            </div>
                        </li>
                        <li>
                            <a href="/profile/179824578/" title="_sabazia_" data-mid="885401646723980340_808655470" data-cid="887148358727589003">
                                <img src="https://instagramimages-a.akamaihd.net/profiles/profile_179824578_75sq_1395439631.jpg" alt="Sabina">
                            </a>
                            <div class="comment">
                                <p>@ribulyahitrulya такооой шладкий😱😍целая страница рыжего счастья</p>
                            </div>
                        </li>
                        <li>
                            <a href="/profile/1626349354/" title="hastiw._" data-mid="885401646723980340_808655470" data-cid="888570312315592156">
                                <img src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xap1/t51.2885-19/924471_1599135836973066_64447338_a.jpg" alt="hasti">
                            </a>
                            <div class="comment">
                                <p>@hesam_kabifard</p>
                            </div>
                        </li>
                        <li>
                            <a href="/profile/1530925176/" title="mona_rad1374" data-mid="885401646723980340_808655470" data-cid="888952936758468136">
                                <img src="https://igcdn-photos-g-a.akamaihd.net/hphotos-ak-xpa1/t51.2885-19/1661714_1575462316005406_268267852_a.jpg" alt="mona_rad1374">
                            </a>
                            <div class="comment">
                                <p>@blackk_sky I really love this page...</p>
                            </div>
                        </li>
                        <li>
                            <a href="/profile/545274993/" title="wallyofabyssinia" data-mid="885401646723980340_808655470" data-cid="890137914427006401">
                                <img src="https://igcdn-photos-b-a.akamaihd.net/hphotos-ak-xpa1/t51.2885-19/10706814_864190470278881_1317528477_a.jpg" alt="Wally of Abyssinia &amp; Bella">
                            </a>
                            <div class="comment">
                                <p>Beautiful eyes, always! 🙀</p>
                            </div>
                        </li>
                        <li>
                            <a href="/profile/808655470/" title="ashmiemu" data-mid="885401646723980340_808655470" data-cid="890141698913951483">
                                <img src="https://instagramimages-a.akamaihd.net/profiles/profile_808655470_75sq_1393658969.jpg" alt="&amp;may  with mami">
                            </a>
                            <div class="comment">
                                <p>Thank you!!✨🌘ω🌒✨ @wallyofabyssinia</p>
                            </div>
                        </li>
                        <li>
                            <a href="/profile/297540854/" title="hadiwijaya84" data-mid="885401646723980340_808655470" data-cid="890269478032989774">
                                <img src="https://instagramimages-a.akamaihd.net/profiles/profile_297540854_75sq_1397491716.jpg" alt="Hadi Wijaya">
                            </a>
                            <div class="comment">
                                <p>@tonyhwijaya @silviteresa</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {{> footer}}
</body>
</html>

