<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/g.css">
</head>
<body id="page-media">
    {{> header}}

    <div class="main">
        <div class="media">
            <div class="media-l">
                <img src="assets/b1.jpeg" alt="">
            </div>
            <div class="media-r">
                {{> info}}

                <div class="media-do">
                    {{> like }}
                    {{> follow }}
                </div>

                <div class="media-info">
                    <span class="media-time">7天前</span>
                    <span class="media-place"></span>:
                    I have a beauty mark on lip.
    .
    唇にほくろがあるよ<br/>
                    <a href="/tag/%E3%81%B5%E3%82%8F%E3%82%82%E3%81%93%E9%83%A8/" class="tag">#ふわもこ部</a>&nbsp;
                    <a href="/tag/%E3%81%AD%E3%81%93%E9%83%A8/" class="tag">#ねこ部</a>&nbsp;
                    <a href="/tag/neko/" class="tag">#neko</a>&nbsp;
                    <a href="/tag/%E7%8C%AB/" class="tag">#猫</a>&nbsp;
                    <a href="/tag/webstapick/" class="tag">#webstapick</a>&nbsp;
                    <a href="/tag/scottishfold/" class="tag">#scottishfold</a>&nbsp;
                    <br/>
                    <a href="/profile/44351880/">pamelaboubou</a>
                    <a href="/profile/1626137647/">ohellosuharti</a>
                    <a href="/profile/1424936269/">aorisora3</a>
                    <a href="/profile/1060734986/">elma_malia</a>
                    <a href="/profile/31485710/">jenblaze_</a>
                    等人赞过
                </div>

                {{> comments}}
            </div>
        </div>
    </div>
</div>

{{> footer}}
</body>
</html>

