<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="initial-scale=1, user-scalable=no, width=device-width, minimal-ui">
    <link rel="stylesheet" href="css/g.css">
</head>
<body id="page-index">
    {{> header}}

    <div class="main">
        <h2>Models</h2>
        <div class="photos">
            <a href="###">
                <img src="assets/p1.jpeg" alt="">
            </a>
            <a href="###">
                <img src="assets/p2.jpeg" alt="">
            </a>
                <img src="assets/p3.jpeg" alt="">
                <img src="assets/p4.jpeg" alt="">
                <img src="assets/p5.jpeg" alt="">
                <img src="assets/p6.jpeg" alt="">
                <img src="assets/p7.jpeg" alt="">
                <img src="assets/p8.jpeg" alt="">
                <img src="assets/p9.jpeg" alt="">
                <img src="assets/p10.jpg" alt="">
        </div>
    </div>

    {{> footer}}
</body>
</html>
