<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/g.css">
</head>
<body id="page-profile">
    {{> header}}

    <div class="main">
        {{> user_profile}}
        {{> photos}}
    </div>
</div>

{{> footer}}
</body>
</html>

