.header {
    margin: 0 auto 1em;
    padding: 16px 10px;
    background: rgba(0, 0, 0, 0.4);

    form {
        width: 100%;
        padding: 0 120px;
        box-sizing: border-box;

        input {
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: 30em;
        }
    }

    [p-nav-title] {
        position: relative;
        font-weight: bold;

        a,
        img {
            display: block;
            width: 140px;
            height: 38px + 16 * 2;
        }
        a {
            position: absolute;
            top: -16px;

            .unlink();
        }
    }
}

.header-nav {
    top: 75px;
    left: 10px;
    display: none;
}
.header-info {
    top: 75px;
    right: 10px;
    display: none;
}

#state,
#logo {
    position: relative;
    z-index: 2;
}
