.userprofile {
    overflow: hidden;
    font-size: 1.25em;

    .userprofile-info {
        float: left;
        margin-right: 1em;
    }

    .userprofile-follow {
        float: left;
        margin: 10px 0;
    }
}
