{% extends "layout.html" %}
{% set readable = {
    400: 'Bad Request',
	401: 'Unauthorized',
    403: 'Forbidden',
    404: 'Not Found',
    405: 'Method Not Allowed',
    406: 'Not Acceptable',
    413: 'Request Entity Too Large',
    500: 'Internal Server Error',
    502: 'Bad Gateway',
    503: 'Service Unavailable',
    504: 'Gateway Timeout',
	}.get(error.code, error.name) %}

{% block page_title %} {{ error.description }} | {{ super() }} {% endblock %}
{% block css %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="content">
{{ readable }}
</div>
{% endblock %}
