<div class="header" p-nav="h largest">
    <h1 p-nav-title><a href="/">Instub</a></h1>

    <form p-nav-item="center" action="/search/">
        <input type="search" placeholder="Find beautiful photos..."/>
    </form>

    <div p-nav-item="right">
        {% with current_user = online_user() %}
        {% if not current_user %}
        <a href="{{ url_for("views.login", uri=request.url) }}" p-button>Login</a>
        {% else %}
        <a href="{{ url_for('user_view.profile', uid=current_user.id) }}">{{ current_user.name }}</a>
        {% endif %}
        {% endwith %}
    </div>
</div>
<div class="header-menu header-nav" p-tip="bottom">
    <ul p-menu="v large" id="listMenu">
        {% for category in all_categories() %}
        <li p-nav-item="current"><a href="{{ category.url }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="header-menu header-info" p-tip="bottom">
    <ul p-menu="v large" id="infoMenu">
      <li><a href="{{ url_for("views.logout") }}">logout</a></li>
    </ul>
</div>

