{% extends "layout.html" %}
{% set body_class="page-index" %}

{% block title %} {{ super() }} {% endblock %}
{% block css %}
    {{ super() }}
{% endblock %}

{% block content %}
<h2>Instub, enjoy beautiful Instagram photos in one place.</h2>
<div class="items">
	{% for category in categories %}
	{{ category }}
    <div class="item">
		<h2><a href="">{{ category.name }}</a></h2>
        <div class="item-imgs">
		{% for image in category.medias(5) %}
			<img src="{{ image.thumbnail|image }}" alt="">
		{% endfor %}
        </div>
    </div>
	{% endfor %}
</div>

</div>
{% endblock %}
