{% extends "layout.html" %}

{% block title %} {{ super() }} {% endblock %}
{% block css %}
    {{ super() }}
{% endblock %}
{% block body_class %}page-index{% endblock %}

{% block content %}
<h2>Instub, enjoy beautiful Instagram photos in one place.</h2>
<div class="items">
	{% for category in categories %}
    <div class="item">
		<h2><a href="{{ category.url }}">{{ category.name }}</a></h2>
        <div class="item-imgs">
		{% for image in category.medias(5) %}
			<img src="{{ image.low_resolution|image }}" alt="">
		{% endfor %}
        </div>
    </div>
	{% endfor %}
</div>

</div>
{% endblock %}
