<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}{{ site_setting.title }}instub{% endblock %}</title>
  <meta name="keywords" content="{% block meta_keywords %}{{ site_setting.keyword }}{% endblock %}">
  <meta name="description" content="{% block meta_description %}{{ site_setting.keyword }}{% endblock %}">
  <meta name="author" content="{% block meta_author %}{% endblock %}">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="initial-scale=1, user-scalable=no, width=device-width, minimal-ui">

  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="/static/css/g.css"/>
  {% block css %}
  {% endblock %}

</head>
<body id="{% block body_class %}{% endblock %}">
  {% block header %}{% include('header.html') %}{% endblock %}

  <div class="main">
  {% block content %}{% endblock %}
  </div>
  {% block footer %}{% include('footer.html') %}{% endblock %}

<!-- JavaScript at the bottom for fast page loading -->
{% block js %}
{% endblock %}
<!-- end scripts -->
</body>
</html>
