/*
 * list page style
 */
#page-media {
    .media {
        .clearfix();
    }

    .media-l {
        float: left;

        img {
            display: block;
            max-width: 100%;
        }
    }
    .media-r {
        float: left;
    }
}

